*{
    margin: 0;
    padding: 0;
}
.main{
width: 1440px;
height: 800px;
}
.header{
    width: 1440px;
    height: 94px;
    background: #000;
}
.header img{
width: 47px;
height: 46px;
margin-top: 24px;
}
.header span{
color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 30.431px; /* 108.681% */
letter-spacing: 14.42px;
text-transform: uppercase;
margin-left: 535px;
}
.heading{
color: #000;
font-family: 'Poppins', sans-serif;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: 30.431px; /* 67.623% */
letter-spacing: 0.675px;
margin-left: 47px;
margin-top: 61px;
}
.item{
    margin-top: 45.73px;
}
.sub{
    width: 961px;
    height: 543px;
    margin-left: 47px;
   margin-top: 69px;
}

.first h6{
    margin-top: 45.73px;
    margin-left: 30px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.431px; /* 101.435% */
    letter-spacing: 0.45px;
}
.first p{
    margin-left: 31px;
    width: 326px;
    height: 31px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.431px; /* 126.794% */
    letter-spacing: 0.36px;
}
.first h5{
    width: 55px;
    height: 31px;
    margin-top: 45.73px;
    margin-left: 31px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.33px;
}
.amount{
    margin-left: 63px;
    width: 57px;
    height: 31px;
color: #000;
font-family: 'Poppins', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 30.431px; /* 138.321% */
letter-spacing: 0.33px;
}
.first h4{
    margin-left: -150px;
width: 76px;
height: 31px;
margin-top: 45.73px;
color: #000;
font-family: 'Poppins', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 30.431px; /* 179.003% */
letter-spacing: 0.255px;
}
.icon{
margin-left: -150px;
width: 99px;
height: 23px;
flex-shrink: 0;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.50);
}
 .total{
    margin-top: 45.73px;
    width: 44px;
    height: 31px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 30.431px; /* 179.003% */
letter-spacing: 0.255px;
}
.num{
    width: 57px;
    height: 31px;
    color: #000;
    font-family: 'Poppins', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 30.431px; /* 138.321% */
letter-spacing: 0.33px;
}
.options{
    display: flex;
    column-gap: 2em;
}
.options p{
    margin-left: 227px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30.431px; /* 169.059% */
letter-spacing: 0.27px;
}
.options span{
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30.431px; /* 169.059% */
letter-spacing: 0.27px;
}
hr{
    margin-top: 34px;
    width: 947.016px;
height: 2px;
background: rgba(0, 0, 0, 0.10);
}
.row{
    display:flex;
    justify-content: space-between;
}

.column2 p{
    padding-right: 204px;
    margin-top: 150px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
}
.promo{
    display:flex;
padding-left: 0px;
justify-content: space-between;
align-items: center;
gap: 91px;
border: 1px solid #000;
width: 334px;
height: 50px;
margin-top: 22px;
}
.text p{
    margin-top: 0;
    margin-left: 10px;
    width: 103px;
    height: 31px;
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 30.431px; /* 190.191% */
letter-spacing: 0.24px;
}
.submit{
    margin-left: 205px;
    margin-top: -51px;
padding: 10px 0 9px ;
    background: #000;
    width: 131px;
}
.submit span{
    margin-left: 40px;
    width: 63px;
    height: 31px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Poppins', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 30.431px; /* 179.003% */
letter-spacing: 0.255px;
}
.delivery{
    margin-left: 1073px;
    margin-top: -180px;
}
.delivery p{
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 30.431px; /* 190.191% */
letter-spacing: 0.24px;
}
.delivery .span1{
    margin-left: 188px;
}
.delivery .span2{
    margin-left: 225px;
}
.delivery .span3{
    margin-left: 270px;
}
.delivery .span4{
    margin-left: 250px;
}