*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
}
.firstdiv{
    width: 1440px;
height: auto;
}
.bakery{
width: 1440px;
height: 800px;
background-image: url("./images/Background\ Image.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

nav{
    width: 100%;
    height: 80px;
}
nav .container{
    margin: 0 ;
    max-width: 1100px;
}
nav .navbar{
    display: block;
    align-items: center;
}
nav .logo img{
    margin: 0;
    margin-left: 618px;
    margin-top: 44px;
     width: 203px;
    height: 121.476px;
flex-shrink: 0;
}
nav .menu ul{
    display: flex;
    margin-left: 575px;
}
nav .menu ul li{
    padding-top: 29px;

}
nav .menu ul li a{
font-size: 23px;
margin-top: 20px;
}
label i{
    padding-top: 29px;
    color: #FFF;
    font-size: 25px;
}
#check{
    display: none;
}
label{
    display: none;
}
@font-face {
    font-family: 'quizine';
    src: url(fonts/FontsFree-Net-Quizine-Regular.ttf);
}
.title{
    display: block;
    margin-top: 264px;
margin-left: 409px;
}
.title1{
    display: none;
}
.title span{
    color: #FF9001;
    text-align: center;
    font-family: Quizine;
    font-size: 60.152px;
    font-style: normal;
    font-weight: 400;
    line-height: 54.566px; /* 90.714% */
    text-transform: lowercase;
    padding-left: 150px;
}
 .heading{
    color: #DEDEDE;
    font-family: Quizine;
    font-size: 111.71px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.893px; /* 63.462% */
    letter-spacing: -1.676px;
    text-transform: lowercase;
}
.heading p{
    margin-left: 130px;
}

#container{
margin-top: -40px;
width: 1440px;
height: 1313px;
background: #000000;

}
.back{
    width: 69px;
    height: 69px;
    flex-shrink: 0;
    background-color: #F8F8F8;
    margin-bottom: 1214px ;
    margin-left: 1349px;
    margin-right: 22px;
    margin-top: 30px;
    }
.products{
width: 208px;
height: 31px;
padding-top: 66px;
padding-left: 92px;
font-family: 'Inter', sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.065em;
text-align: left;
color: white;
}

.row1{
margin-top: 50px;
display: flex;
justify-content:space-evenly;
}
.column1{
width: 613px;
height: 390px;
top: 159px;
left: 92px;
border-radius: 26px;
}
.column1 img{
    width: 613px;
    height: 390px;
}
.column2{
width: 613px;
height: 390px;
top: 159px;
left: 735px;
border-radius: 26px;
    
}
.column2 img{
    width: 613px;
    height: 390px;
}
.row1 p{
width: 125px;
top: 585px;
left: 92px;
color: white;
font-family: 'Poppins', sans-serif;
font-size: 36px;
font-weight: 400;
letter-spacing: -0.005em;
text-align: left;

}
.row2{
margin-top: 149px;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.row2 p{
width: 140px;
top: 1133px;
left: 92px;
color: white;
font-family: 'Poppins', sans-serif;
font-size: 36px;
font-weight: 400;
letter-spacing: -0.005em;
text-align: left;

}
.column3{
width: 613px;
height: 390px;
top: 698px;
left: 92px;
border-radius: 26px

}
.column3 img{
    width: 613px;
    height: 390px;
}
.column4{
width: 613px;
height: 390px;
top: 698px;
left: 735px;
border-radius: 26px;
}
.column4 img{
    width: 613px;
    height: 390px;
}
#contact{
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
   
}
.subdiv{
width: 1221px;
height: 694px;
left: 99px;
box-shadow: 9px 11px 43px 13px #00000040;
margin-top: 165px;
margin-left: 99px;
margin-right: 120px;
margin-bottom: 165px;
}
 .first{
padding-left: 93px;
padding-top: 124px;
color: #000;
font-family: 'Poppins', sans-serif;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 30.431px; /* 47.548% */
}
.para{
    width: 967px;
padding-left: 93px;
padding-top: 41px;
color: rgba(0, 0, 0, 0.70);
font-family: 'Poppins', sans-serif;
text-align: center;
font-size: 11.293px;
font-style: normal;
font-weight: 400;
line-height: 13.746px; /* 121.722% */
}

.form{
    padding-left: 92px;
    padding-top: 34.86px;
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Poppins', sans-serif;
    font-size: 18.092px;
     font-weight: 400;
    line-height: 25.025px; /* 138.321% */
}
.form-control{
    width: 375px;
    height: 0.822px;
    background: rgba(0, 0, 0, 0.50);
}
button{
margin-top: 30px;
background: #000;
padding: 14px 176px 13px 152px;
margin-left: 93px;
display: flex;
width: 375px;
height: 58px;
align-items: center;
color: #FFF;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30.431px; /* 202.87% */
letter-spacing: 3.075px;
}
.second{   
margin-top: -552px;
width: 242px;
height: 694px;
margin-left: 979px;
background: #FF9001;
}

.third{
margin-top: -582px;
margin-left: 735px;
width: 487px;
height: 445px;
flex-shrink: 0;
background: #000;
}
.info{
padding-top: 71px;
margin-left: -200px;
color: #FFF;
font-family: 'Poppins', sans-serif;
font-size: 33px;
text-align: center;
font-style: normal;
font-weight: 600;
line-height: 30.431px; /* 92.214% */
}
.group{
width: 487px;
height: 445px;
flex-shrink: 0;

}
.icon1{
    padding: 50px;
width: 36px;
height: 34px;
flex-shrink: 0;
display: flex;
justify-content: space-between;
}
.icon1 span{
    margin: 10px;
color: #FFF;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: 30.431px; /* 138.321% */
}
.icon2{
    margin-top: -20px;    
    padding-left:50px ;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}
.icon2 img{
    margin-top: -10px;
transform: rotate(-63deg);
flex-shrink: 0;

}
.icon2span{
color: #FFF;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: 30.431px; /* 138.321% */

}
.icon3{
    margin-top: 10px;
    padding-left: 50px;
display: flex;
justify-content: space-between;   
width: 36px;
height: 36px;
flex-shrink: 0;
}
.icon3 span{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 30.431px; /* 138.321% */
}
.icon4{
margin-top: 20px;
padding-left: 50px;
width: 36px;
height: 36px;
flex-shrink: 0;
display: flex;
justify-content: space-between;
}
.icon4 span{
color: #FFF;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: 30.431px; /* 138.321% */
}
.backbutton{
width: 69px;
height: 69px;
flex-shrink: 0;
fill: #000;
margin-bottom: 868px ;
margin-left: 1349px;
margin-right: 22px;
margin-top: 87px;
}

@media screen and (max-width:830px) {
    nav .menu ul {
        position:fixed;
        top:90px;
        left:-100%;
        margin: 0;
        width: 208px;
        height: 283px;
        display: block;
        background: #0F0F0F;
        text-align: center;
        border-radius: 0px 0px 8.915px 8.915px;
        transition: 400ms all ease ;
        
        }
        nav .logo img{
            width: 68.516px;
            height: 41px;
            margin: 0;
            align-items: center;
            padding-top: 20px;
        }
        nav{
            width: 100%;
            height: auto;
        }
        nav .container{
            max-width: 100%;
        }
        nav .menu ul li{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        nav .navbar{
            display: flex;
            justify-content: flex-start;
            padding-top: 20px;
        }
        nav .menu ul li a{
            font-size: 15.738px;
          }   
        #check:checked ~ ul{
         left: 0%;
        }
        #check:checked ~ label i::before{
            content: '\f00d';
        }
        label{
            display: block;
            margin-left: 200px;
            margin-right: 10px;
        }
        
    .bakery{
        margin: 0;
        width:100%;
        background-image: url("./images/Background\ Image.png");
        background-position: center;
    }
    .firstdiv{
        height: auto;
    }
    .title{
        margin: 0;
        margin-top: 311px;

    }
    .title1{
        margin: 0;
        display: contents;
        display: block;
        margin-top: 159px;

    }
    .title1 span{
        color: #FF9001;
        font-family: Quizine;
        font-size: 48.369px;
        font-style: normal;
        font-weight: 400;
        line-height: 43.877px; /* 90.714% */
        text-transform: lowercase;
        margin: 0;
        margin-left: 121px;
    }
    @font-face {
        font-family: 'BR Firma';
        src: url(fonts/FontsFree-Net-BRFirma-Regular.ttf);
    }
    .heading1{
        color: #FFF;
font-family: BR Firma;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 10.5px; /* 105% */
letter-spacing: -0.05px;
width: 257px;
margin: 0;
margin-top: 26px;
margin-left: 72px;
    }
   
    .heading{
        font-size: 32.56px;
        line-height: 36.528px; /* 63.462% */
           letter-spacing: -0.863px;
                margin: 0;
                width: 321px;
                height: 74px;
                margin-left: 105px;
                margin-right: 22px;

    }
    .heading p{
        margin: 0;
        margin-left: 30px;
    }
    nav .logo img{
        margin: 0;
        margin-left: 50px;
    }
    .title span{
        width: 268px;
        font-size: 32.369px;
        line-height: 43.877px;
        margin: 0;
        padding: 0;
         margin-left: 105px;
    }
    #container{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .products{
        width: 100%;
        height: 31px;
        font-size: 30px;
        padding: 0;
        margin: 0;
        padding-top: 29px;
        padding-left: 31px;
        }
    .row1{
        display: block;
        height: 100%;
        padding: 0;
        padding-left: 20px;
    }
    .row1 a{
        margin: 0;
    }
    .row1 p{
        font-size: 18px;
        text-align: center;
        margin-left:-30px;
        margin-bottom: 31px;
        margin-top: 10px;
    }
    .row2{
        margin:0;
        display: block;
        height: 100%;
        padding: 0;
        padding-left: 20px;
    }
    .row2 p{
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
        margin-left:-30px;
        padding-bottom: 31px;

    }
    .column1{
        width: auto;
        height: auto;
        margin-left: 15px;
    }
    .column1 img{
        width: 310px;
        height: 147px;
    }
    .column2{
        width: auto;
        height: auto;
        margin-left: 15px;

    }
    .column2 img{
        width: 310px;
        height: 147px;
    }
    
    .column3{
        width: auto;
        height: auto;
        margin-left: 15px;

    }
    .column3 img{
        width: 310px;
        height: 147px;
    }
    .column4{
        width: auto;
        height: auto;
        margin-left: 15px;

    }
    .column4 img{
        width: 310px;
        height: 147px;
    }
    #contact{
    text-align: center;
     width: 100%;
     display: block;
     height: auto;
    }
    .back{
        display: none;
    }
    .backbutton{
        display: none;
    }
    .subdiv{
        padding: 0px;
        top: 500px;
        margin: 0px;
        width: 100%;
        height: auto;
    } 
    .first{
        text-align: center;
        padding-top: 51px;
        font-size: 32.47px;
        
    }
    .para{
        padding-left: 10px;
        padding-top: 13px;
        text-align: center;
        font-size: 11.293px;
    }
    
    .second{
        margin-top: 99px;
        margin-left: 285px;
        position: absolute;
        width: 100%;
        height: 217px;
        padding: 9px 6px 220px 7px;
    }
    .third{   
        margin: 0px;
        margin-top: 100px;
        width: 360px;
        
    }
    .group{
        width: 108.696px;
        height: 137.896px;
    }
    .info{
        font-size: 20.329px;
        text-align: center;
    }
    .icon1{
        width: 22.177px;
        height: 20.945px;
        flex-shrink: 0;
    }
    .icon1 span{
        margin: -5px 10px;
        font-size: 13.553px;
    }
    .icon2 img{
        width: 22.177px;
        height: 20.945px;
        flex-shrink: 0;
    }
    .icon2span{
        margin: -10px 10px;
        font-size: 13.553px;
    }
    .icon3{
        width: 22.177px;
        height: 20.945px;
        flex-shrink: 0;
    }
    .icon3 span{
        margin: -5px 10px;
        font-size: 13.553px;
    }
    .icon4{
        width: 22.177px;
        height: 20.945px;
        flex-shrink: 0;
    }
    .icon4 span{
        margin: -5px 10px;
        font-size: 13.553px;
    }
    .form{
        text-align: left;
        padding-left: 49.29px;
       font-size: 13.921px;

    }
    .form-control{
        
        width: 288.545px;
          height: 0.633px;
          background: rgba(0, 0, 0, 0.50);
    }
    button{
        display: flex;
        height: 47px;
        width: 320px;
        padding: 12px 0px 11px 0px;
        margin-left: 25px;
        justify-content:center ;
        align-items: center;
    }
}