*{
margin: 0;
padding: 0;
}
.main{
width: 1440px;
height: 800px;
background: #0A0A0A;
}
.sub{
    display: flex;
    justify-content: space-between;
}
a{
width: 59px;
height: 59px;
flex-shrink: 0;
margin-top: 12px;
margin-left: 27px;
}
.cart{
width: 44px;
height: 44px;
padding-top: 7px;
padding-right: 39px;
}
.heading{
    width: 519px;
color: #FFF;
font-family: 'Poppins', sans-serif;
font-size: 49.382px;
font-style: normal;
font-weight: 600;
letter-spacing: 0.741px;
margin-left: 741.72px;
margin-top: -250px;
}
.amount{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Poppins', sans-serif;
    font-size: 37.732px;
font-style: normal;
font-weight: 400;
line-height: 28.705px; /* 76.076% */
letter-spacing: 0.566px;
margin-left: 741.72px;
margin-top: 53px;
}
.image1{  
transition: all 0.15s ease;
width: 590.503px;
height: 282.045px;
flex-shrink: 0;
border-radius: 24.526px;
transform: rotate(270deg) ;
background-repeat: no-repeat;
margin-left: -100px;
margin-top: -50px;
}

.row{
    display: flex;
     column-gap: 2em;
}
.column1{
    margin-top: 50px;
margin-left: 741.72px;
display: flex;
width: 191.489px;
height: 60.371px;
padding: 14.149px 9.433px 15.093px 19.809px;
justify-content: flex-end;
align-items: flex-start;
gap: 119.948px;
flex-shrink: 0;
border-radius: 4.716px;
background: #2C2C2C;
}
.num{
    border-radius: 4.716px;
    background: black;  
    width: 191.489px;
    height: 60.371px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.num p{
color: rgba(255, 255, 255, 0.80);
font-family: Poppins;
font-size: 41.505px;
font-style: normal;
font-weight: 400;
line-height: 28.705px; /* 69.16% */
letter-spacing: 0.623px;
}
.num img{
width: 28.299px;
height: 31.129px;
flex-shrink: 0;
}
.column2{
    margin-top: 50px;
border-radius: 4.716px;
background: #2C2C2C;
padding: 16.036px 20.736px 15.335px 20.752px;
width: 191.489px;
height: 60.371px;

}
.content{
    border-radius: 4.716px;
    background: #FFF;
    width: 191.489px;
    height: 60.371px;
    display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
    
}
.content p{
color: rgba(0, 0, 0, 0.70);
font-family: Poppins;
font-size: 25.469px;
font-style: normal;
font-weight: 800;
line-height: 28.705px; /* 112.706% */
letter-spacing: 0.382px;
}
.row1{
    margin-top: 85.84px;
}
.descr{
    display: inline-flex;
}
.column3{
    display: block;
}
.column3 p{
margin-left: 741.72px;
color: #FFF;
font-family: Poppins;
font-size: 32.072px;
font-style: normal;
font-weight: 400;
line-height: 28.705px; /* 89.502% */
letter-spacing: 0.481px;
}
.column4{
    display: block;
    margin-top: -110px;
    margin-left: 250px;

}
.column4 span{
    margin-left: 741.72px;
    color: #FFF;
font-family: Poppins;
font-size: 32.072px;
font-style: normal;
font-weight: 400;
line-height: 28.705px; /* 89.502% */
letter-spacing: 0.481px;
}
.column3 .line{
margin-left: 741.72px;
width: 155px;
height: 0.943px;
background: #FFF;
}
.column4 .line{
margin-left: 741.72px;
width: 155px;
height: 0.943px;
background: #FFF;
display: none;

}
.para{
    margin-left: 741.72px;
    margin-top: 21.75px;
    height: 58px;
    width: 550.884px;
    color: #FFF;
font-family: Poppins;
font-size: 18.866px;
font-style: normal;
font-weight: 400;
line-height: 28.705px; /* 152.153% */
letter-spacing: 0.283px;
}
.para1{
    margin-left: 741.72px;
    margin-top: 21.75px;
    height: 58px;
    width: 550.884px;
    color: #FFF;
font-family: Poppins;
font-size: 18.866px;
font-style: normal;
font-weight: 400;
line-height: 28.705px; /* 152.153% */
letter-spacing: 0.283px;
display: none;
}
.row2{
    margin-left: 374px;
    margin-top: 150px;
    display: flex;
    column-gap: 2em;
}

.img2{
    transition: all 0.30s ease;
    width: 195px;
    height: 135px;
    flex-shrink: 0;
    border-radius: 13px;
    cursor: pointer;
}
.img2 img{
    width: 195px;
    height: 135px;
}
.img2:hover{
    transform: scale(1.3);
    z-index: 2;
}
.line1{
width: 496px;
height: 2px;
margin-top: 30px;
background: #FFF;
margin-left: 430px;
}
@media screen and (max-width:830px){
    .main{
        min-width: 280px;
        height: auto;
    }
    a{
        
        margin: 0;
        margin-left: 30px;
    }
    .cart{
        display: none;
    }
    .image1{
        margin: 0;
        width: 324px;
        height: auto;
        margin-top: -10px;
       align-items: center;
       margin-left: 50px;
       margin-right: 10px;
    }
    .image1 img{
        width: 300px;
    height: 324px;
    }
    .heading{
        margin: 0;
        font-size: 28px;
        text-align: center;
        margin-left: -40px;
        margin-right: 10px;
    }
    .amount{
        margin: 0;
        font-size: 20px;
        margin-top: 16px;
        margin-left: 150px;
    }
    .row{
        display: flex;
        gap:3em;
        align-items: center;
        margin-top: 27px;
        margin-left: 40px;
        margin-right: 10px;
    }
    .column1{
        margin: 0;
        width: 100px;
        height: 10px;
    }
    .num{
        background: #2C2C2C;
        border-radius: 0;
        width: 111px;
        height: 10px;
    }
    .num p{
         margin: 0;
         font-size: 24.159px;
    }
    .num img{
        width: 17.465px;
         height: 19.211px;
    }
   .column2{
    margin: 0;
    width: 100px;
    height: 6px;
    background: #FFF;
   }
    .content{
        margin: 0;
        width: 111px;
        height: 5px;
}
.content p{
    font-size: 14.827px;
}
.row1{
    margin: 0;
}
.descr{
    display: block;
}
.column3 p{
    margin: 0;
    width: 322.581px;
    font-size: 17.714px;
    margin-left: 120px;
    margin-top: 33px;
}
.column4{
    margin: 0;
    
}
.column4 span{
    margin: 0;
    margin-top: 10px;
    width: 322.581px;
    font-size: 17.714px;
    margin-left: 120px;
}
.column3 .line{
    display: none;
}
.column4 .line{
    display: none;
}
.para{
    margin: 0;
    width: 322px;
    font-size: 10.423px;
    margin-top: 12px;
    margin-left: 40px;
    margin-right: 20px;
}
.para1{
    display: contents;
    display: block;
    width: 322px;
    font-size: 10.423px;
   margin: 0;
   margin-top: 12px;
   margin-left: 40px;
   margin-right: 20px;
 
}
.row2{
    margin: 0;
    column-gap: 4.5em;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 10px;
}
.img2{
    width: 50px;
    height: 60px;
}
.img2 img{
    width: 80px;
    height: 60px;
}
.img2:hover{
    z-index: 1;
    transform: scale(1.3);
}
 
}